@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster');
.col-md-9 h1{font-family:'Lobster',sans-serif;font-size:40px;}
body h2,div h3{font-family:'Julius Sans One',sans-serif;}

#topHeaderRow{ 
font-size:0.9em;
}

h1 { 
font-size:3em;
font-weight:bold;
margin:0;
}

div#mainNavigationRow{
}

article,header{
width:1100px;
margin: auto;}

li{display:inline;padding:1em;}


*{box-sizing:border-box;}

.price { color:red;
}

.similarTitle {font-size:10px;
}

.cartText { font:bold;
}

.tight-form-group {  
}





/*  about   */

.jumbotron_content{
color:white;
margin-left:100px;
margin-top:70px;
}

.jumbotron{
margin:auto;
width: 1100px;
height: 360px;
background-image: url("../images/whistler.jpg");

}








